$base-color: #202040;
$base-color-darken: darken(#202040, 30%);
$base-lighter-color: #202060;
$primary-color: #b030b0;
$primary-color-light: lighten(#b030b0, 30%);
$secondary-color: #602080;
$base-text-color: #fff;
$grey-color: #6a6a6a;
$green-color: green;
