@import '../../styles/colors.scss';
@import '../../styles/global.scss';

.nav {
  background-color: $base-color-darken;
  width: 100vw;
  height: $nav-height;
}

.nav-items {
  display: flex;
  flex-direction: row;
  margin: 0 $global-margin;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
